@import '../../../styles/variables.less';

#bep-dataTable {
  &.ui.fixed.table th {
    font-weight: 600;
  }

  &.ui.fixed.table th,
  &.ui.fixed.table td,
  &.ui.sortable.table thead th {
    overflow: visible;
    text-overflow: unset;
    overflow-wrap: break-word;
    white-space: unset;
    color: @sba-blue;
    
    &.netLoss {
      color: @sba-red;
    }
  
    &.netGain {
      color: @secondary-green;
    }
  }
}
.bep-table-overflow {
  overflow:auto;
}