@import '../styles/variables.less';

.footer-divider {
  margin-top: @base-spacing * 6;
  border-top: 4px solid @sba-blue-light;
  border-bottom: 4px solid @sba-blue-light;
}

.ui.grid.footer {
  color: @sba-gray-dark;
  text-align: center;
}