@import '../../../styles/variables.less';

.resultsContainer {
  background-color: rgba(88,172,239,0.2);
  min-height: 1300px;

  .ui.cards > .card > :first-child, .ui.card > :first-child {
    border-radius: 4px !important;
  }

  h1 {
    text-align: center;
    color: @sba-white;
    padding: @base-spacing 0;
  }

  p {
    color: @sba-gray-dark;
  }

  .gradientBackground {
    background-color: @secondary-blue;
    height: 180px;
  }

  .dataCards-container {
    max-width: 1200px;
    margin: -75px auto 1rem;
    padding: 0 @base-spacing 75px;
  }

  .ui.basic.label {
    font-weight: 400;
    color: unset;

    i.legend-color.units {
      color: @secondary-blue-light;
    }

    i.legend-color.sales {
      color: @secondary-blue;
    }
  }

  .number {
    overflow-wrap: break-word;
  }

  @media print {
    .runningTotals-container {
      .ui.column.grid>[class*="six wide tablet"].column, 
      .ui.grid>.column.row>[class*="six wide tablet"].column, 
      .ui.grid>.row>[class*="six wide tablet"].column, 
      .ui.grid>[class*="six wide tablet"].column {
        width: 49% !important;
      }

      .ui.grid>.row>[class*="right aligned"].column.column, 
      .ui.grid>[class*="right aligned"].column.column, 
      .ui.grid>[class*="right aligned"].row>.column, 
      .ui[class*="right aligned"].grid>.column, 
      .ui[class*="right aligned"].grid>.row>.column {
        width: 49% !important;
      }
      
      .middle.aligned.eleven.wide.computer.eleven.wide.mobile.ten.wide.tablet.column.editableValue {
        width: 100% !important;
      }

      .middle.aligned.five.wide.computer.five.wide.mobile.six.wide.tablet.column.editTotal-container {
        display: none;
      }
    }
  }
}
