@import '../../../styles/variables.less';

.pricePerUnit-container {
  .button-container {
    margin: @small-spacing 0;
  }

  &.hidden {
    display: none;
  }

  .returnLinks {
    #backLink {
      padding-right: 0;
    }

    #restartLink {
      padding-left: 0;
    }
  }
}