@import '../../../styles/variables.less';

i.breakEven.circle.icon {
  color: @secondary-blue;
}

i.totalCost.circle.icon {
  color: @sba-gray;
}

path.breakEvenLine {
  stroke-width: 4px;
}

.unitLabel {
  text-align: center;
  margin-left: 37px;
  font-size: 16px;
  color: @sba-gray;
  margin-top: -12px;
  font-weight: 500;
  line-height: 18px;
}

card.breakEvenPointLabel {
  text-align: center;
  top: 100px;
  left: 191px;
  position: relative;
  .unitsSold {
    font-size: 28px;
    color: @secondary-blue;
  }
  .text {
    font-size: 18px;
  }
}