@import '../../../styles/variables.less';

i.breakEven.circle.icon {
  color: @secondary-blue;
}

i.totalCost.circle.icon {
  color: @sba-gray;
}

path.breakEvenLine {
  stroke-width: 4px;
}

.unitLabel {
  text-align: center;
  margin-left: 37px;
  font-size: 16px;
  color: @sba-gray;
  margin-top: -12px;
  font-weight: 500;
  line-height: 18px;
}

card.breakEvenPointLabel {
  text-align: center;
  top: 100px;
  left: 191px;
  position: relative;
}

.graphContainer {
  position: relative;
}

.ui.card.tooltip {
  font-size: 1.1vw;
  line-height: 1.6vw;
  top: 7%;
  left: 47%;
  font-weight: 600;
  background-color: white; 
  border-width: 2px;
  padding: 5px;
  position: absolute;
  text-align: center;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.12);
  height: 6.5vw;
  width: 8vw;

  div.units {
    color: @secondary-blue;
    font-size: 2vw;
    margin-bottom:0.5vw;
  }
}
