@import '../../../styles/variables.less';

card.breakEvenPointLabel {
  left: 191px;
  position: relative;
  text-align: center;
  top: 100px;
}

div.units {
  color: @secondary-blue;
  font-size: 2vw;
  margin-bottom:0.5vw;
}

.graphContainer {
  position: relative;
}

i.breakEven.circle.icon {
  color: @secondary-blue;
}

i.totalCost.circle.icon {
  color: @sba-gray-dark;
}

path.breakEvenLine {
  stroke-width: 4px;
}

.ui.card.tooltip {
  border-width: 2px;
  font-size: 1.1vw;
  font-weight: 600;
  height: 6.5vw;
  left: 46.8%;
  line-height: 1.6vw;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 7%;
  width: 8vw;
}

.unitLabel {
  color: @sba-gray;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 37px;
  margin-top: -12px;
  text-align: center;
}


