@import '../../../styles/variables.less';

.variableCosts-container {
  h4 {
    margin-bottom: @base-spacing;
  }

  .variableCost-suggestion {
    background-color: @sba-gray-lighter;
    padding: 1rem;
    width: fit-content;

    a {
      margin-left: @small-spacing;
    }
  }

  .navLink {
    display: inline-block;
    margin: @small-spacing @small-spacing @small-spacing 0;
    color: @secondary-blue;

    &:hover {
      color: @secondary-blue-light;
    }
  }

  &.hidden {
    display: none;
  }
}