@import '../../../styles/variables.less';

.resultsContainer {
  background-color: rgba(88,172,239,0.2);
  min-height: 500px;

  p {
    color: @sba-gray-dark;
  }

  .gradientBackground {
    background: radial-gradient(circle, #58ACEF 0%, #0091FF 40.04%, #00518B 100%);
    height: 150px;
  }

  .dataCards-container {
    max-width: 1200px;
    height: 500px;
    margin: -75px auto;
    padding: 0 @base-spacing 75px;
  }
}