{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
